node_modules
dist
*.tsbuildinfo
**/tsconfig.tsbuildinfo
test/results/**/*.xml
test/results/*.xml
coverage/lcov.info
temp
*.tgz
packages/*/node_modules
packages/*/test/results/**/*.xml
packages/*/test/results/*.xml
packages/*/coverage/lcov.info
packages/*/temp
packages/*/dist
packages/*/node_modules
